
li{
    list-style-type: none;
  }

body{
    background-image: url(https://media.tenor.com/M4SDYNMM_L4AAAAM/werewolf-moonlight.gif);
    background-size: auto;
}

header {
        font-size: larger;
        font-family:Arial, Helvetica, sans-serif;
        color: white;
        padding-top: 1px;    
        padding-right: 1px; 
        padding-bottom: 1px; 
        padding-left: 1px;
        width: 980px;
        height: 150px;  
        background-color: #222A35;
      }

nav {
        font-size: larger;
        font-family:Arial, Helvetica, sans-serif;
        color: black;
        padding-top: 1px;    
        padding-right: 1px; 
        padding-bottom: 1px; 
        padding-left: 1px;
        width: 980px;
        height: 70px;  
        background-color: #CDDC39;
      }
aside{
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 1px;    
    padding-right: 1px; 
    padding-bottom: 1px; 
    padding-left: 1px;
    width: 300px;
    height: 450px;  
    background-color: #757575;
  }
.caja1{
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 1px;    
    padding-right: 1px; 
    padding-bottom: 1px; 
    padding-left: 1px;
    width: 100px;
    height: 100px;  
    background-color: #CDDC39;
    margin: 20px;
}

footer {
    font-size:small;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 10px;    /* Agrega 10px de padding en la parte superior */
    padding-right: 30px;  /* Agrega 30px de padding en el lado derecho */
    padding-bottom: 15px; /* Agrega 15px de padding en la parte inferior */
    padding-left: 5px;    /* Agrega 5px de padding en el lado izquierdo */
    background-color: rgb(60, 226, 198);
    border-style: groove;
    border-width: 5px;
    margin-right: 1000px;
}